/*Modification générale*/
main {
    width: 800px;
    height: auto;
    margin-bottom: 8.5%;
}

.padding-list {
    padding: 0% 10% 0% 10%;
}

.align-center {
    text-align: center;
}

.content-menu_list {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #FACA49;
}

.content_list {
    padding-bottom: 2%;
}

.svg-size {
    width: 200px;
}

ul {
    list-style: none;
    padding-left: 0px;
}
/*Modification générale*/


/*background-page*/
.font_1 {background-color: #FCDFDB;}.font_2 {background-color: #FFF5FE;}.font_3 {background-color: #EDEFEF;}.font_4 {box-shadow:  5px 5px 5px 5px #8d8c8c;}
/*background-page*/


/*Menu-1*/
.img_menu_1 {
    padding-top: 5%;
}

.main_title_1 {
    margin-top: 0px;
    font-size: 2em;
    font-family: 'Devonshire', cursive;
    color: #3F141A;
}

.title_menu_1 {
    font-size: 1.6em;
    padding-top: 0%;
}

.content-title {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10% 0% 10%;
}

.title_content {
    padding-top: 0%;
    font-size: 2em;
    font-family: 'Caveat', cursive ;
}

.list_price {
    width: auto;
    font-size: 1em;
    color: #3D1319;
    font-family: 'Caveat', cursive ;
    font-weight: 400;
    
}

.info_menu .list {
    display: flex;
    flex-direction: row;
}

.title_bottom {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    padding-top: 0%;
    padding-bottom: 2%;
    font-family: 'Devonshire', cursive;
    color: #3F141A;
}

.img_bottom {
    width: 40px;
    height: 40px;
    padding-top: 3.2%;
    margin-right: 2%;
}
/*Menu-1*/


/*Menu 2*/
.font-menu_2 {
    font-family: 'Lora', serif;
}

.title_menu {
    padding-top: 10%;
    padding-bottom: 5%;
}

.menu_cover_title_2 {
    background: linear-gradient(to right,#DF871E,#B7718F,#8F5BFE);
    background-clip: text; /*web-kit a remettre si probleme de compatibilité*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
  }

.content-title_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_content_2 {
    font-size: 1.4em;
    font-weight: 600;
}
/*Couleur des différents titre*/
.color_2 {color: #C67412;}.color_pma {color: #D4934B;}.color_3 {color: #A56799;}.color_pdp {color: #AF77A4;}.color_4 {color: #6E4CCC;}.color_gs {color: #8060D2;}
/*Couleur des différents titre*/
/*Menu-2*/


/*Menu-3*/
.menu_cover_title_3 {
    background: linear-gradient(to right,#0228DD,#4283EE,#85c4fc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;
    font-size: 2.8em;
}

.padding_bottom_page {
    padding-bottom: 10%;
}

.padding-title_3 {
    padding: 0% 5% 0% 5%;
}
/*Menu-3*/


/*Menu-4*/
.font-menu_4 {
    font-family: 'Devonshire', cursive;
}

.menu_cover_title_4 {
    background: linear-gradient(to right,#41963c,#b4f679);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}
/*Menu-4*/


/*Rotation svg */
.rotate {
    transform: rotate(180deg);
}
/*Rotation svg */


/*Responsive Smartphone*/
@media only screen and (max-device-width:480px)
{   

    /*Modification générale*/
    main {
        width: 100%;
        height: 100%;
    }

    h3 {
        margin-bottom: 0%;
    }

    .img_size-responsive {
        width: 75px;
    }

    .svg-none {
        display: none; 
    }

    .content-menu_list {
        font-size: 1em;
        display: flex;
        justify-content: space-between;
    }

    .list_price-smart {
        font-size: 1em; 
        padding: 0% 0% 0% 0%;
        margin: 0% 3% 0% 3%;
    }

    .content-title_responsive {
        justify-content: center;
        padding: 0%;
    }

    .width-max {
        max-width: 300px;
    }
    /*Modification générale*/

    /*Menu-1*/

    .main_title_1 {
        margin-bottom: 0%;
        font-size: 1.5em;
    }

    .img_bottom {
        width: 30px;
        height: 30px;
        margin-top: 1%;
    }

    .title_bottom p {
        margin-top: 3%;
    }

    /*Menu-2*/

    .title_menu {
        font-size: 1.8em;
    }
}


