main {
    width: 800px;
    height: auto;
    margin-bottom: 8.5%;
}

.padding-list {
    padding: 0% 10% 0% 10%;
}

.font-size {
    font-size: 1.5em;
}

li {
    padding-bottom: 20px;
}

/*background-page*/
.font_1 {background-color: #FCDFDB;}.font_2 {background-color: #FFF5FE;}.font_3 {background-color: #EDEFEF;}.font_4 {box-shadow:  5px 5px 5px 5px #8d8c8c;}


/*Menu 1*/
.img_menu_1 {
    padding-top: 5%;
}

a {
    text-decoration: none;
    color: #FACA49;
}

.main_title_1 {
    margin-top: 0px;
    font-size: 2em;
    font-family: 'Devonshire', cursive;
    color: #3F141A;
}

.title_menu_1 {
    font-size: 1.6em;
    padding-top: 0%;
}
.content-title {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10% 0% 10%;
}

.title_content {
    padding-top: 0%;
    font-size: 2em;
    font-family: 'Caveat', cursive ;
}

.color_pl {
    color: #3D1319;
}


ul {
    list-style: none;
    padding-left: 0px;
}

.list_price {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0% 10% 0% 10%;
    font-size: 1.5em;
    color: #3D1319;
    font-family: 'Caveat', cursive ;
    font-weight: 400;
    
}

.info_menu .list {
    display: flex;
    flex-direction: row;
}


.bottom_menu {
    padding: 0% 10% 0% 10%;
    display: flex;
    flex-direction: row;
    font-size: 1.4em;
    font-family: 'Caveat', cursive ;
}

.title_bottom {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    padding-top: 0%;
    padding-bottom: 2%;
    font-family: 'Devonshire', cursive;
    color: #3F141A;
}

.img_bottom {
    width: 40px;
    height: 40px;
    padding-top: 3.2%;
    margin-right: 2%;
}

.content_list {
    padding-bottom: 2%;
}
/*Menu 2*/
.font-menu_2 {
    font-family: 'Lora', serif;
}

.title_menu {
    padding-top: 10%;
    padding-bottom: 5%;
}

.menu_cover_title_2 {
    background: linear-gradient(to right,#DF871E,#B7718F,#8F5BFE);
    background-clip: text; /*web-kit a remettre si probleme de compatibilité*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lora', serif;
    font-size: 2em;
  }

.list_price_2 {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    font-size: 1.3em;
}

.content-title_2 {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0% 0% 0% 0%;
}

.title_content_2 {
    font-size: 1.4em;
    font-family: 'Lora', serif;
    font-weight: 600;
}

.color_2 {color: #C67412;}.color_pma {color: #D4934B;}.color_3 {color: #A56799;}.color_pdp {color: #AF77A4;}.color_4 {color: #6E4CCC;}.color_gs {color: #8060D2;}


/*Menu 3*/

.menu_cover_title_3 {
    background: linear-gradient(to right,#0228DD,#4283EE,#85c4fc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;
    font-size: 2.8em;
  }

.padding_bottom_page {
    padding-bottom: 10%;
}

.content-title_3 {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
}

.list_price_3 {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    font-size: 1.5em;
}

/*Menu 4*/
.font-menu_4 {
    font-family: 'Devonshire', cursive;
}

.menu_cover_title_4 {
    background: linear-gradient(to right,#41963c,#b4f679);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}

.svg-size {
    width: 200px;
}

.rotate {
    transform: rotate(180deg);
}

@media only screen and (max-device-width:480px)
{   
    /*Menu-1*/

    body {
        text-align: left;
    }

    main {
        width: 100%;
        height: 100%;
    }

    .size-responsive {
        width: 75px;
    }

    .svg-size {
        width: 80px;
    }

    .title_menu_1 {
        font-size: 2em;
    }

    .main_title_1 {
        margin-bottom: 20px;
        font-size: 1.5em;
    }

    .title_content {
        font-size: 2em;
    }

    .list_price {
        font-size: 0.9em; 
        padding: 0% 0% 0% 0%;
        margin: 0% 3% 0% 3%;
    }

    .bottom_menu {
        padding: 0%;
        margin-left: 3%;
        font-size: 0.9em;
    }

    .img_bottom {
        width: 30px;
        height: 30px;
        padding-top: 0px;
    }

    .title_bottom {
        font-size: 2em;
    }

    .title_bottom p {
        margin-top: 0px;
    }

    /*Menu-2*/
    .title_menu {
        font-size: 1.8em;
    }
    
    .title_content_2 {
        font-size: 1.5em;
    }
    
    .list_price_2 {
        font-size: 0.9em; 
        padding: 0% 0% 0% 0%;
        margin: 0% 3% 0% 3%;
    }

    /*Menu-3*/
    
    .list_price_3 {
        font-size: 2.5em;
        padding: 0% 0% 0% 0%;
        margin: 0% 3% 0% 3%;
    }

}




