/*Menu 1*/
.btn-soulign {
    display: inline;
    text-decoration: none;
    background: linear-gradient(to top,#3D1319 0%,#3D1319 4px, transparent 5px) no-repeat;
    background-size: 0 100% ;
    transition: background-size .3s;
    padding-bottom: 5px;
}

.btn-soulign:hover {
    margin-bottom: 1px;
    background-size: 100% 100% ;
}

.padding-list {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Menu 2*/
/*Pour se mettre en appétit*/
.btn-soulign_1 {
    display: inline;
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, #D4934B 0%,#D4934B 4px, transparent 5px) no-repeat;
    background-size: 0 100% ;
    transition: background-size .3s;
    padding-bottom: 5px;
}

.btn-soulign_1:hover {
    margin-bottom: 1px;
    background-size: 100% 100% ;
}
/*Plaisir des papilles*/

.btn-soulign_2 {
    display: inline;
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, #B777A4 0%,#B777A4 4px, transparent 5px) no-repeat;
    background-size: 0 100% ;
    transition: background-size .3s;
    padding-bottom: 5px;
}

.btn-soulign_2:hover {
    margin-bottom: 1px;
    background-size: 100% 100% ;
}
/*Gourmandise sucrées*/

.btn-soulign_3 {
    display: inline;
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, #8060D2 0%,#8060D2 4px, transparent 5px) no-repeat;
    background-size: 0 100% ;
    transition: background-size .3s;
    padding-bottom: 5px;
}

.btn-soulign_3:hover {
    margin-bottom: 1px;
    background-size: 100% 100% ;
}

/*Menu 3*/

.btn-soulign_4 {
    display: inline;
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top,#123EA5 0%,#123EA5 4px, transparent 5px) no-repeat;
    background-size: 0 100% ;
    transition: background-size .3s;
    padding-bottom: 5px;
}

.btn-soulign_4:hover {
    margin-bottom: 1px;
    background-size: 100% 100% ;
}

.btn-soulign_5 {
    display: inline;
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top,#4F98F2 0%,#4F98F2 4px, transparent 5px) no-repeat;
    background-size: 0 100% ;
    transition: background-size .3s;
    padding-bottom: 5px;
}

.btn-soulign_5:hover {
    margin-bottom: 1px;
    background-size: 100% 100% ;
}

.btn-soulign_6 {
    display: inline;
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top,#229DF9 0%,#229DF9 4px, transparent 5px) no-repeat;
    background-size: 0 100% ;
    transition: background-size .3s;
    padding-bottom: 5px;
}

.btn-soulign_6:hover {
    margin-bottom: 1px;
    background-size: 100% 100% ;
}

.btn-soulign_7 {
    display: inline;
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top,#0E0E0E 0%,#0E0E0E 4px, transparent 5px) no-repeat;
    background-size: 0 100% ;
    transition: background-size .3s;
    padding-bottom: 5px;
}

.btn-soulign_7:hover {
    margin-bottom: 1px;
    background-size: 100% 100% ;
}