.menu_cover__opac
{
    -webkit-transition: all 700ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 700ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 700ms ease-in;
    -moz-transform: scale(1);
    transition: all 700ms ease-in;
    transform: scale(1);   

}
.menu_cover__opac:hover
{
    -webkit-transition: all 600ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 600ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 600ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 600ms ease-in;
    transform: scale(1.2);
    opacity: 0.6;
}